.seller-profile {
    margin-bottom: 32px;
    border: 1px solid #dadbdd;
    padding: 30px;

    .skills {
        padding-bottom: 20px;
    }

    .skills li {
        a {
            color: #62646a;
        }

        display: inline-block;
        border-radius: 15px;
        min-width: 40px;
        text-align: center;
        padding: 5px 12px;
        margin: 0 10px 10px 0;
        border: 1px solid #e4e5e7;
        cursor: pointer;
        -webkit-transition: background-color .2s ease-in-out;
        -o-transition: background-color .2s ease-in-out;
        transition: background-color .2s ease-in-out;
    }

    h3 {
        font-size: 16px;
        line-height: 140%;
        padding-bottom: 16px;
    }


    ol,
    ul {
        list-style: none;
        list-style-image: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 10px;

            span {
                color: #b5b6ba;
            }
        }
    }

    &>div {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #dadbdd;
    }
}